<h2 class="mb-2">Quick Search</h2>
<form class="mb-4" action="/articles" method="GET">
    <label for="search">Title</label>
    <input type="text" name="title" id="search" value="<%= searchQueryTitle %>" class="mr-2" />
    <button type="submit">Search</button>
</form>

<h2 class="mb-2">Recent Articles</h2>
<% articles.forEach(article => { %>
    <a href="/articles/<%= article.slug %>">
        <div class="card mb-2">
            <h3 class="card-title mb-1"><%= article.title %></h3>
            <div class="card--info mb-2">
                <%= article.createdDate.toLocaleDateString() %>
            </div>
            <div class="card--desc mb-2"><%= article.description %></div>
            
            <form method="POST" action="/articles/<%= article.id %>?_method=DELETE">
                <a href="/articles/<%= article.slug %>" class="mr-2">Read more</a>
                <a href="/articles/edit/<%= article.id %>" class="mr-2">Edit</a>
                <button type="submit">Delete</button>
            </form>
        </div>
    </a>
<% }); %>